<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".OneSmallStepApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OneSmallStep">

        <!-- Main Activity with Compose -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.OneSmallStep">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Activity - Phobia Library -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:label="Phobia Library"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.OneSmallStep" />

        <!-- Phobia Detail Activity -->
        <activity
            android:name=".ui.detail.PhobiaDetailActivity"
            android:exported="false"
            android:label="Phobia Details"
            android:parentActivityName=".ui.home.HomeActivity"
            android:theme="@style/Theme.OneSmallStep" />

        <!-- Exposure Therapy Activity -->
        <activity
            android:name=".ui.exposure.ExposureActivity"
            android:exported="false"
            android:label="Exposure Therapy"
            android:parentActivityName=".ui.detail.PhobiaDetailActivity"
            android:theme="@style/Theme.OneSmallStep" />

        <!-- Progress Activity -->
        <activity
            android:name=".ui.progress.ProgressActivity"
            android:exported="false"
            android:label="Your Progress"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.OneSmallStep" />

    </application>

</manifest>